<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The <a href="http://www.foodiexchange.com/">Foodiexchange</a>
  is a project to enhance the ability of Foodies to discover and explore food around the world.
</p>

